
**/.git* annex.largefiles=nothing
* annex.largefiles=(largerthan=100kb)
*.json annex.largefiles=nothing
*.txt annex.largefiles=nothing
*.tsv annex.largefiles=nothing
*.nii.gz annex.largefiles=anything
*.jpg annex.largefiles=anything
*.tgz annex.largefiles=anything
*.csv annex.largefiles=nothing
*_scans.tsv annex.largefiles=anything
* annex.backend=MD5E
**/.git* annex.largefiles=nothing
